.main {
  text-align: center;
  padding: 40px;
}

.main button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.main button:hover {
  background-color: #21a1f1;
}
